In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\aksha\OneDrive\Documents\INNOMATICS\ASSIGNMENTS\reviews_badminton\data.csv")

In [3]:
data

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1
...,...,...,...,...,...,...,...,...
8513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
8514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
8515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
8516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [4]:
data.head()

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1
3,Suresh Narayanasamy,Fair,"Certified Buyer, Chennai",25.0,1.0,NaN,"Quite O. K. , but nowadays the quality of the...",3
4,ASHIK P A,Over priced,NaN,147.0,24.0,Apr 2016,Over pricedJust â?¹620 ..from retailer.I didn'...,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8518 entries, 0 to 8517
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Reviewer Name    8508 non-null   object
 1   Review Title     8508 non-null   object
 2   Place of Review  8468 non-null   object
 3   Up Votes         8508 non-null   float64
 4   Down Votes       8508 non-null   float64
 5   Month            8053 non-null   object
 6   Review text      8510 non-null   object
 7   Ratings          8518 non-null   int64
dtypes: float64(2), int64(1), object(5)
memory usage: 532.5+ KB

In [6]:
data.describe()

          Up Votes   Down Votes      Ratings
count  8508.000000  8508.000000  8518.000000
mean      0.391396     0.121768     4.181028
std      11.613909     3.248022     1.262200
min       0.000000     0.000000     1.000000
25%       0.000000     0.000000     4.000000
50%       0.000000     0.000000     5.000000
75%       0.000000     0.000000     5.000000
max     889.000000   219.000000     5.000000

In [7]:
data.isnull().sum()

Reviewer Name       10
Review Title        10
Place of Review     50
Up Votes            10
Down Votes          10
Month              465
Review text          8
Ratings              0
dtype: int64

In [8]:
data.duplicated().sum()

4

In [9]:
data.drop_duplicates(inplace=True)

In [10]:
data.shape

(8514, 8)

In [11]:
data[['Review text', 'Ratings']].dropna(inplace=True)

C:\Users\aksha\AppData\Local\Temp\ipykernel_304\1800718565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['Review text', 'Ratings']].dropna(inplace=True)

In [12]:
data[['Review text']].isnull().sum()

Review text    4
dtype: int64

In [13]:
data[['Review text']].dropna(inplace=True)

C:\Users\aksha\AppData\Local\Temp\ipykernel_304\1499709470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['Review text']].dropna(inplace=True)

In [14]:
data = data[['Review text', 'Ratings']]

In [15]:
data

                                            Review text  Ratings
0     Nice product, good quality, but price is now r...        4
1     They didn't supplied Yonex Mavis 350. Outside ...        1
2     Worst product. Damaged shuttlecocks packed in ...        1
3     Quite O. K. , but nowadays  the quality of the...        3
4     Over pricedJust â?¹620 ..from retailer.I didn'...        1
...                                                 ...      ...
8509  Not sure why we have charged for this product ...        1
8510                                                NaN        1
8512                                                NaN        2
8513                                                NaN        5
8515                                                NaN        4

[8514 rows x 2 columns]

In [16]:
data['Ratings'] = data['Ratings'].apply(lambda x: "Positive" if x >= 3 else 'Negative')

C:\Users\aksha\AppData\Local\Temp\ipykernel_304\4025562156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Ratings'] = data['Ratings'].apply(lambda x: "Positive" if x >= 3 else 'Negative')

In [17]:
data['Ratings'].value_counts()

Positive    7440
Negative    1074
Name: Ratings, dtype: int64

In [18]:
data['Ratings']= data['Ratings'].map({"Positive":1,"Negative":0})

C:\Users\aksha\AppData\Local\Temp\ipykernel_304\2269367925.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Ratings']= data['Ratings'].map({"Positive":1,"Negative":0})

In [19]:
data

                                            Review text  Ratings
0     Nice product, good quality, but price is now r...        1
1     They didn't supplied Yonex Mavis 350. Outside ...        0
2     Worst product. Damaged shuttlecocks packed in ...        0
3     Quite O. K. , but nowadays  the quality of the...        1
4     Over pricedJust â?¹620 ..from retailer.I didn'...        0
...                                                 ...      ...
8509  Not sure why we have charged for this product ...        0
8510                                                NaN        0
8512                                                NaN        0
8513                                                NaN        1
8515                                                NaN        1

[8514 rows x 2 columns]

## Spliting the data

In [20]:
X= data[['Review text']]
y = data['Ratings']

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0, stratify=y)

In [22]:
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [23]:
nltk.download('stopwords')
# Downloading wordnet before applying Lemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aksha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\aksha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\aksha\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [24]:
## initialise the inbuilt Stemmer
stemmer = PorterStemmer()

## We can also use Lemmatizer instead of Stemmer
lemmatizer = WordNetLemmatizer()

In [25]:
def preprocess(raw_text, flag):
    # Convert input to string (if it's not already)
    raw_text = str(raw_text)

    # Removing emojis
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002500-\U00002BEF"  # chinese char
                               u"\U00002702-\U000027B0"
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               u"\U0001f926-\U0001f937"
                               u"\U00010000-\U0010ffff"
                               u"\u2640-\u2642" 
                               u"\u2600-\u2B55"
                               u"\u200d"
                               u"\u23cf"
                               u"\u23e9"
                               u"\u231a"
                               u"\ufe0f"  # dingbats
                               u"\u3030"
                               "]+", flags=re.UNICODE)
    raw_text = emoji_pattern.sub(r'', raw_text)

    # Removing special characters and digits
    sentence = re.sub("[^a-zA-Z]", " ", raw_text)

    # change sentence to lower case
    sentence = sentence.lower()

    # tokenize into words
    tokens = sentence.split()

    # remove stop words
    clean_tokens = [t for t in tokens if not t in stopwords.words("english")]

    # Stemming/Lemmatization
    if flag == 'stem':
        clean_tokens = [stemmer.stem(word) for word in clean_tokens]
    else:
        clean_tokens = [lemmatizer.lemmatize(word) for word in clean_tokens]

    return pd.Series([" ".join(clean_tokens), len(clean_tokens)])

## Preprocessig the train data

In [26]:
from tqdm import tqdm, tqdm_notebook

In [27]:
tqdm.pandas()

In [28]:
X_train

                                            Review text
3959                              Nice specifyREAD MORE
4721                                      goodREAD MORE
7681                             Cork not goodREAD MORE
6271  good quality..... but green one is the slow on...
2926                                      GoodREAD MORE
...                                                 ...
2365  Product quality is very good but price is a bi...
29                                good productREAD MORE
3912                                     Gud 1READ MORE
7516        Good shuttles and affordable priceREAD MORE
277                                  ExcellentREAD MORE

[6385 rows x 1 columns]

In [29]:
temp_df = X_train['Review text'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df.head()

100%|█████████████████████████████████████████████████████████████████████████████| 6385/6385 [00:15<00:00, 413.65it/s]

                                                      0   1
3959                                   nice specifyread   2
4721                                           goodread   1
7681                                      cork goodread   2
6271  good quality green one slow one single u wante...  15
2926                                           goodread   1

In [30]:
temp_df.columns = ['clean_text_lemma', 'Text_length_lemma']
temp_df

                                       clean_text_lemma  Text_length_lemma
3959                                   nice specifyread                  2
4721                                           goodread                  1
7681                                      cork goodread                  2
6271  good quality green one slow one single u wante...                 15
2926                                           goodread                  1
...                                                 ...                ...
2365           product quality good price bit high read                  7
29                                     good productread                  2
3912                                           gud read                  2
7516                  good shuttle affordable priceread                  4
277                                       excellentread                  1

[6385 rows x 2 columns]

In [31]:
X_train_clean = pd.concat([X_train, temp_df], axis=1)
X_train_clean

,Review text,clean_text_lemma,Text_length_lemma
3959,Nice specifyREAD MORE,nice specifyread,2
4721,goodREAD MORE,goodread,1
7681,Cork not goodREAD MORE,cork goodread,2
6271,good quality..... but green one is the slow on...,good quality green one slow one single u wante...,15
2926,GoodREAD MORE,goodread,1
...,...,...,...
2365,Product quality is very good but price is a bi...,product quality good price bit high read,7
29,good productREAD MORE,good productread,2
3912,Gud 1READ MORE,gud read,2
7516,Good shuttles and affordable priceREAD MORE,good shuttle affordable priceread,4
277,ExcellentREAD MORE,excellentread,1

## Preprocessing the test Data

In [32]:
temp_df = X_test['Review text'].progress_apply(lambda x: preprocess(x, 'lemma'))

temp_df.head()

100%|█████████████████████████████████████████████████████████████████████████████| 2129/2129 [00:04<00:00, 477.22it/s]

                                                      0   1
2613  go buy nearest store good breaking quickly bad...  10
7341                                        uselessread   1
3031                          good quality expectedread   3
6668                                          nice read   2
4822                                   nice productread   2

In [33]:
temp_df.columns = ['clean_text_lemma', 'Text_length_lemma']
temp_df

                                       clean_text_lemma  Text_length_lemma
2613  go buy nearest store good breaking quickly bad...                 10
7341                                        uselessread                  1
3031                          good quality expectedread                  3
6668                                          nice read                  2
4822                                   nice productread                  2
...                                                 ...                ...
203                                    poor qualityread                  2
1184                                       awesome read                  2
1490                                           niceread                  1
5471                                   good productread                  2
846                                            niceread                  1

[2129 rows x 2 columns]

In [34]:
X_test_clean = pd.concat([X_test, temp_df], axis=1)
X_test_clean

,Review text,clean_text_lemma,Text_length_lemma
2613,"Go and buy from nearest store, it is good but ...",go buy nearest store good breaking quickly bad...,10
7341,UselessREAD MORE,uselessread,1
3031,Good quality as expectedREAD MORE,good quality expectedread,3
6668,"nice,READ MORE",nice read,2
4822,nice productREAD MORE,nice productread,2
...,...,...,...
203,poor qualityREAD MORE,poor qualityread,2
1184,Awesome ❤❤READ MORE,awesome read,2
1490,Very niceREAD MORE,niceread,1
5471,good productREAD MORE,good productread,2
846,NiceREAD MORE,niceread,1

In [35]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [36]:
# Define pipeline components
tfidf_vectorizer = TfidfVectorizer()
LR = LogisticRegression(max_iter=1000)
RF = RandomForestClassifier()
SVM = SVC()
KNN=KNeighborsClassifier()
DTC= DecisionTreeClassifier

In [37]:
pipeline_lr = Pipeline([('tfidf', tfidf_vectorizer), ('clf', LR)])
pipeline_rf = Pipeline([('tfidf', tfidf_vectorizer), ('clf', RF)])
pipeline_svm = Pipeline([('tfidf', tfidf_vectorizer), ('clf', SVM)])
pipeline_knn = Pipeline([('tfidf', tfidf_vectorizer), ('clf', KNN)])

In [38]:
param_grid_lr = {
    'tfidf__max_features': [5000, 10000, None],
    'clf__C': [0.1, 1, 10]
}

param_grid_rf = {
    'tfidf__max_features': [5000, 10000, None],
    'clf__n_estimators': [50, 100, 200]
}

param_grid_svm = {
    'tfidf__max_features': [5000, 10000, None],
    'clf__C': [0.1, 1, 10],
    'clf__kernel': ['linear', 'rbf']
}
N_NEIGHBORS=[i for i in range(3,21,2)]
param_grid_knn = {
    'tfidf__max_features': [5000, 10000, None],
    'clf__n_neighbors':N_NEIGHBORS
}

In [39]:
# Perform grid search with cross-validation
grid_search_LR = GridSearchCV(pipeline_lr, param_grid_lr, cv=5, verbose=1)
grid_search_RF = GridSearchCV(pipeline_rf, param_grid_rf, cv=5, verbose=1)
grid_search_SVM = GridSearchCV(pipeline_svm, param_grid_svm, cv=5, verbose=1)
grid_search_KNN = GridSearchCV(pipeline_knn, param_grid_knn, cv=5, verbose=1)

In [41]:
grid_search_LR.fit(X_train_clean['clean_text_lemma'], y_train)
grid_search_RF.fit(X_train_clean['clean_text_lemma'], y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
Fitting 5 folds for each of 9 candidates, totalling 45 fits

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('tfidf', TfidfVectorizer()),
                                       ('clf', RandomForestClassifier())]),
             param_grid={'clf__n_estimators': [50, 100, 200],
                         'tfidf__max_features': [5000, 10000, None]},
             verbose=1)

In [42]:
grid_search_SVM.fit(X_train_clean['clean_text_lemma'], y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('tfidf', TfidfVectorizer()),
                                       ('clf', SVC())]),
             param_grid={'clf__C': [0.1, 1, 10],
                         'clf__kernel': ['linear', 'rbf'],
                         'tfidf__max_features': [5000, 10000, None]},
             verbose=1)

In [43]:
grid_search_KNN.fit(X_train_clean['clean_text_lemma'], y_train)

Fitting 5 folds for each of 27 candidates, totalling 135 fits

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('tfidf', TfidfVectorizer()),
                                       ('clf', KNeighborsClassifier())]),
             param_grid={'clf__n_neighbors': [3, 5, 7, 9, 11, 13, 15, 17, 19],
                         'tfidf__max_features': [5000, 10000, None]},
             verbose=1)

In [45]:
# Print best parameters for each model
print("Best parameters for Logistic Regression:", grid_search_LR.best_params_)
print("Best parameters for Random Forest:", grid_search_RF.best_params_)
print("Best parameters for SVM:", grid_search_SVM.best_params_)
print("Best parameters for KNN:", grid_search_KNN.best_params_)

Best parameters for Logistic Regression: {'clf__C': 10, 'tfidf__max_features': 5000}
Best parameters for Random Forest: {'clf__n_estimators': 50, 'tfidf__max_features': 10000}
Best parameters for SVM: {'clf__C': 1, 'clf__kernel': 'linear', 'tfidf__max_features': 5000}
Best parameters for KNN: {'clf__n_neighbors': 11, 'tfidf__max_features': 5000}

### Evaluation

In [46]:
lr_predictions = grid_search_LR.predict(X_test_clean['clean_text_lemma'])
print("Logistic Regression Classification Report:")
print(classification_report(y_test, lr_predictions))

Logistic Regression Classification Report:
              precision    recall  f1-score   support

           0       0.77      0.56      0.65       269
           1       0.94      0.98      0.96      1860

    accuracy                           0.92      2129
   macro avg       0.85      0.77      0.80      2129
weighted avg       0.92      0.92      0.92      2129

In [47]:
rf_predictions = grid_search_RF.predict(X_test_clean['clean_text_lemma'])
print("Random Forest Classification Report:")
print(classification_report(y_test, rf_predictions))

Random Forest Classification Report:
              precision    recall  f1-score   support

           0       0.73      0.48      0.58       269
           1       0.93      0.97      0.95      1860

    accuracy                           0.91      2129
   macro avg       0.83      0.73      0.76      2129
weighted avg       0.90      0.91      0.90      2129

In [48]:
svm_predictions = grid_search_SVM.predict(X_test_clean['clean_text_lemma'])
print("SVM Classification Report:")
print(classification_report(y_test, svm_predictions))

SVM Classification Report:
              precision    recall  f1-score   support

           0       0.75      0.55      0.63       269
           1       0.94      0.97      0.95      1860

    accuracy                           0.92      2129
   macro avg       0.84      0.76      0.79      2129
weighted avg       0.91      0.92      0.91      2129

In [49]:
knn_predictions = grid_search_KNN.predict(X_test_clean['clean_text_lemma'])
print("KNN Classification Report:")
print(classification_report(y_test, knn_predictions))

KNN Classification Report:
              precision    recall  f1-score   support

           0       0.75      0.45      0.56       269
           1       0.93      0.98      0.95      1860

    accuracy                           0.91      2129
   macro avg       0.84      0.72      0.76      2129
weighted avg       0.90      0.91      0.90      2129

In [50]:
import joblib
joblib.dump(grid_search_KNN.best_estimator_, 'knn_model.pkl')
joblib.dump(grid_search_SVM.best_estimator_, 'svm_model.pkl')
joblib.dump(grid_search_RF.best_estimator_, 'rf_model.pkl')
joblib.dump(grid_search_LR.best_estimator_, 'lr_model.pkl')

['lr_model.pkl']

In [52]:
# Save the best models
import joblib
joblib.dump(grid_search_LR.best_estimator_, 'C:\\Users\\aksha\\OneDrive\\Documents\\INNOMATICS\\lr_model.pkl')
joblib.dump(grid_search_RF.best_estimator_, 'C:\\Users\\aksha\\OneDrive\\Documents\\INNOMATICS\\rf_model.pkl')
joblib.dump(grid_search_SVM.best_estimator_, 'C:\\Users\\aksha\\OneDrive\\Documents\\INNOMATICS\\svm_model.pkl')
joblib.dump(grid_search_KNN.best_estimator_, 'C:\\Users\\aksha\\OneDrive\\Documents\\INNOMATICS\\knn_model.pkl')

['C:\\Users\\aksha\\OneDrive\\Documents\\INNOMATICS\\knn_model.pkl']